{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    {{ parent() }}

    <link href="{{ asset('assets/css/frontStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-xs-2">
                        <a class="paddingLogoNav navbar-brand" href="/">
                            <img src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}"
                                 alt="logo_cercle_confiance" class="logo">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="">
                            <a class="circleLink respLink" href="{{ path('accueil') }}">
                                <h1 class="respNavApp">{{ circleUser.circle.name }}</h1>
                                <i class="fa fa-arrow-circle-o-left"></i> Changer de cercle
                            </a>
                        </div>
                        {% if app.user.username is defined %}
                            <div class="pull-right">
                                <div class="row">
                                    <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle" alt="{{ app.user.username }}"">
                                    <span class="hidden-xs">{{ app.user.username }}</span>
                                </div>
                                <div class="row text-center respLink">
                                    <div class="col-sm-2 col-sm-offset-4 col-xs-6 stopPaddLink">
                                        <a href="{{ path('fos_user_profile_edit', {'token': token}) }}"><i
                                                    class="fa fa-address-card-o"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-3 stopPaddLink">
                                        <a href="/logout"> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-header col-xs-2">
                </div>


            </div>
        </nav>
    </header>
{% endblock %}

{% block footer %}{% endblock %}
