{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default stopPadding">
        <div class="container-fluid">
            <div class="row">
            <div class="navbar-header col-xs-2">
                <a class="paddingLogoNav navbar-brand" href="/">
                    <img src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}"
                         alt="logo_cercle_confiance" class="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                    <div class="col-xs-8">
                        <h1>{{ circleUser.circle.name }}</h1>
                    </div>
                    {% if app.user.username is defined %}
                        <div class="col-xs-2">
                            <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar">
                            {{ app.user.username }}<br/>
                            <a href="{{ path('fos_user_profile_edit', {'token': token}) }}">Mon profil </a>
                            <a href="/logout"> Déconnexion</a>
                        </div>
                    {% endif %}
                </div>
            </div>


        </div>
    </nav>
{% endblock %}