{% extends "FrontBundle::layoutFront.html.twig" %}

{% block links %}
    <li class="scroll active"><a href="/">Accueil</a></li>
    <li class="scroll"><a href="#intro">Qui sommes nous ?</a></li>
    <li class="scroll"><a href="#serve"> Nos services</a></li>
    <li class="scroll"><a href="#object">Nos objets connectés</a></li>
    <li class="scroll"><a href="{{ path('accueil') }}">Accéder aux cercles</a></li>
{% endblock %}

{% block content %}

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item firstItem">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item secondItem">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div id="intro">
            <div class="container text-center">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Qui sommes nous ?</h2>
                    <div class="row item">
                        <!-- /.intro image -->
                        <div class="col-md-6 intro-pic wow slideInLeft">
                            <img src="{{ asset('http://www.auplod.com/u/lapuod980eb.jpeg') }}" alt="image"
                                 class="img-responsive medal">
                        </div>
                        <!-- /.intro content -->
                        <div class="col-md-6 wow slideInRight">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquam beatae commodi
                                cumque dolore explicabo facilis illum, iste, laborum laudantium modi nihil perferendis
                                praesentium quasi quis tempore voluptas voluptatibus. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Beatae commodi consequatur distinctio ea, eius error eum
                                fuga id inventore neque odit officia officiis perspiciatis quae, quos repudiandae
                                sapiente vel, velit.
                            </p>
                            <a href="{{ path('presentation') }}" class="btn-default">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="serve">
            <div class="container text-center">
                <div class="section-header">
                    <h2 class="section-title wow fadeInDown">Nos Services</h2>
                    <div class="row item">
                        <div class="col-md-4 col-md-offset-1 wow slideInLeft">
                            <img class="img-circle img-responsive img-center medal"
                                 src="http://www.nettoyage-bureaux-65.fr/userfiles/2233/Maison_Nickel-aide_a_la_personne.jpg"
                                 alt="">
                            <h2>Service confiance</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta exercitationem facilis
                                nesciunt sit vel? Ab assumenda, cumque, distinctio dolore dolorem facere fugiat iusto,
                                odio quidem repudiandae sed soluta velit voluptatum! Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Cupiditate deserunt explicabo facere facilis illum impedit
                                magni, maxime minus numquam placeat porro quae qui repellendus repudiandae sunt vel
                                velit! Eum, fuga.</p>
                        </div>
                        <div class="col-md-4 col-md-offset-2 wow slideInRight">
                            <img class="img-circle img-responsive img-center medal"
                                 src="https://logicielsolutioncentrefrance.files.wordpress.com/2014/03/call-center_6844_9207959.jpg"
                                 alt="">
                            <h2>Service secours</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem esse
                                eveniet incidunt iste nostrum pariatur quibusdam, quo similique tempore totam,
                                voluptatem. Ab dolore molestias quibusdam rem suscipit, temporibus?Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit. A accusantium alias aliquid architecto at autem
                                corporis culpa dolor doloremque illo nobis placeat quisquam quos repellat, sit veniam
                                voluptas. Nostrum, tempora!</p>
                        </div>
                    </div>
                    <a href="{{ path('services') }}" class="btn-default item">En savoir plus</a>
                </div>
            </div>
        </div>

        <div id="object">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Les Objets Connectés</h2>
                    <div class="row item">
                        <div class="features">
                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms"
                                 data-wow-delay="0ms">
                                <div class="media service-box">
                                    <div class="pull-left">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Camera de Visioconférence</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eveniet
                                            fugiat fugit necessitatibus nemo numquam odio, sed sint velit voluptatem?
                                            Amet exercitationem necessitatibus nesciunt.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms"
                                 data-wow-delay="100ms">
                                <div class="media service-box">
                                    <div class="pull-left">
                                        <i class="fa fa-cubes"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Camera supplémentaire</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur
                                            eius, error fuga fugit incidunt ipsa iure optio quae qui quos saepe
                                            similique totam ut voluptatibus? Fugiat quis sunt voluptas?</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms"
                                 data-wow-delay="100ms">
                                <div class="media service-box">
                                    <div class="pull-left">
                                        <i class="fa fa-cubes"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Camera supplémentaire</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                                            exercitationem explicabo hic illo magni nisi sequi totam, ullam! At corporis
                                            delectus explicabo facere laborum nam placeat reiciendis rem soluta
                                            tempora.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row item">
                    <div class="features">
                        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                            <div class="media service-box">
                                <div class="pull-left">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Capteur de température</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium
                                        alias aliquid aut commodi distinctio, impedit maxime minus nam natus pariatur
                                        quasi qui quos repellat repellendus tempore velit veritatis voluptates?</p>
                                </div>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms"
                             data-wow-delay="100ms">
                            <div class="media service-box">
                                <div class="pull-left">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Capteur incendie</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci
                                        autem cum cupiditate distinctio enim exercitationem impedit maxime non nulla
                                        perspiciatis quam quidem quis recusandae sequi similique soluta, totam
                                        veniam?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms"
                             data-wow-delay="100ms">
                            <div class="media service-box">
                                <div class="pull-left">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Capteur incendie</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis
                                        deserunt dignissimos nobis porro praesentium provident similique suscipit?
                                        Delectus dolor earum esse excepturi explicabo maiores obcaecati, optio
                                        perspiciatis quasi voluptatum?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('pres_objets') }}" class="btn-default item">En savoir plus</a>
            </div>
        </div>
    </section>

    <section id="testi">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Les Témoignages</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                                <div class="active item">
                                    <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis
                                            nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos
                                            eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
