{% extends "FrontBundle::layoutFront.html.twig" %}

{% block title %} Qui Sommes Nous ?{% endblock %}
{% block links %}
    <li class="scroll"><a href="/">Accueil</a></li>
    <li class="scroll active"><a href="{{ path('presentation') }}">A propos</a></li>
    <li class="scroll"><a href="{{ path('services') }}">Services</a></li>
    <li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>
    <li class="scroll"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>
{% endblock %}
{% block content %}
    <section id="about">
        <div class="container">

            <div class="section-header qsnSectionHeader">
                <h2 class="section-title text-center wow fadeInDown">Qui Sommes Nous ?</h2>

                <div class="text-center qsn">
                    <img class="img-responsive img-qsn" src="{{ asset('assets/img/qsn.jpg') }}"/>
                </div>

                <p class="text-center wow fadeInDown">La SAS Cercle Confiance a été créée en janvier 2016. Elle associe la Société REVAME (Thierry Allard et Stéphane juillot), spécialisée dans l'électronique au service de la domotique et de la régulation énergétique, et Olivier Jouin qui est le Président.</p>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 wow fadeInRight">
                    <h3 class="column-title">Le Projet d'entreprise</h3>
                    <p>Cercle Confiance propose un produit-service visant à facilité les liens sociaux et l'échange d'informations entre les membres d'un cercle de personnes, en particulier entre une personne âgée isolée et ses enfants éloignés.</p>
                </div>
                <div class="col-sm-12 col-md-5 col-md-offset-1 wow fadeInLeft">
                    <h3 class="column-title">Extensible payant</h3>
                    <div class="row">
                        <ul class="nostyle morepadding">
                            <li><i class="fa fa-check-square"></i> 2 formules disponibles.</li>
                            <li><i class="fa fa-check-square"></i> Application simple d'utilisation pour tous.</li>
                            <li><i class="fa fa-check-square"></i> Différents outils (Visio, Chat, Statistiques).</li>
                            <li><i class="fa fa-check-square"></i> Support 7/7j - 24/24h.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#about-->
{% endblock %}
