{% extends "AppBundle::layoutAppli.html.twig" %}

{% block title %} Mur{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-lg-9">
                {% for data in walldatas %}
{# WALL DISPLAY MESSAGE #}
                    {% if data.wall != null %}
                        <div class="messages index{{ loop.index0 }}">
                            <article class="well">
                                <header>
                                    <div class="col-lg-6">
                                        <h3>{{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>{{ data.creationdate|date }}</h2>
                                    </div>
                                </header>
                                <hr />
                                <p>{% if data.wall.content is defined %}{{ data.wall.content }}{% endif %}</p>
                            </article>
                        </div>
{# CLOUD DISPLAY MESSAGE #}
                    {% elseif data.cloud != null %}
                        <div class="messages index{{ loop.index0 }}">
                            <article class="well">
                                <header>
                                    <div class="col-lg-6">
                                        <h3>{{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>{{ data.creationdate|date }}</h2>
                                    </div>
                                </header>
                                <hr />
                        {# Check if type of data is 'lien' and switch <p> for <a href>'> #}
                                <p>Name: {{ data.cloud.filename }}</p>
                                {% if 'image' in data.cloud.filetype %}
                                    <img src="{{ asset("uploads/" ~ data.cloud.fileName) }}" alt="{{ data.cloud.filename }}" />
                                {% elseif 'video' in data.cloud.filetype.name %}
                                    <video width="320" height="240" src="{{ data.cloud.url }}">
                                        <source src="{{ asset("uploads/" ~ data.cloud.fileName) }}" type="video/mp4">
                                        <source src="{{ asset("uploads/" ~ data.cloud.fileName) }}" type="video/ogg">
                                        <source src="{{ asset("uploads/" ~ data.cloud.fileName) }}" type="video/webm">
                                        bug movies
                                    </video>
                                {% endif %}
                            </article>
                        </div>
{# AGENDA DISPLAY MESSAGE #}
                    {% elseif data.agenda != null %}
                        <div class="messages index{{ loop.index0 }}">
                            <article class="well">
                                <header>
                                    <div class="col-lg-6">
                                        <h3>{{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>{{ data.creationdate|date }}</h2>
                                    </div>
                                </header>
                                <hr />
                                <p><strong>Titre:</strong> {% if data.agenda.name is defined %}{{ data.agenda.name }}{% endif %}</p>
                                <p><strong>Evenement:</strong> {% if data.agenda.event is defined %}{{ data.agenda.event }}{% endif %}</p>
                                <p><strong>Date de l'evenement:</strong> {% if data.agenda.eventStart is defined %}{{ data.agenda.eventStart|date }}{% endif %}</p>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
                    <button id="affiche" onclick="affichePlus()">voir les messages plus anciens</button>
            </div>

            <div class="col-lg-3">
                <h3>Envoie un message</h3>

                {{ form_start(form) }}
                {{ form_widget(form.content,{ 'attr': {'cols': '50','rows': '5'} }) }}
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var displayIndex = 3;
        $( ".messages" ).hide();
        $( ".index0" ).show();
        $( ".index1" ).show();
        $( ".index2" ).show();

        function affichePlus() {
            $( ".index"+displayIndex ).show();
            displayIndex++;
            $( ".index"+displayIndex ).show();
            displayIndex++;
            $( ".index"+displayIndex ).show();
            displayIndex++;
        }
    </script>
{% endblock %}
