{% extends "AppBundle::layoutAppli.html.twig" %}

{% block title %} Mur{% endblock %}

{% block content %}
    <a href="{{ path('appli', {'token': token}) }}" class="btn btn-default padder "><i class="fa fa-arrow-left"></i></a>

    <section class="container wallContent">
        <div class="row">
            <div class="btnModal">

                <button type="button" id="openModal" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-pencil"></i> Ecrire
                </button>
            </div>
            <div class="section-header">
                <h2 class="section-title text-center">Le Mur</h2>
                <h4 class="text-center">Vous avez la possibilité d'envoyer des messages aux autres membres du cercle</h4>
            </div>
            <br/>
            <div class="col-lg-12 col-xs-12">
                <!-- Trigger the modal with a button -->
                {% for data in walldatas %}
                    {# WALL DISPLAY MESSAGE #}
                    {% if data.wall != null %}
                        <!--<div class="row messages index{{ loop.index0 }}">-->
                        <div class="messages index{{ loop.index0 }}">
                            <div class="wallBorder">
                                <div class="wallTitle">
                                    <div class="row">
                                        <!--<div class="col-lg-3 col-xs-3">-->
                                        <div class="col-xs-3">
                                            <img src="{{ asset("uploads/" ~ data.circleuser.user.avatar) }}"
                                                 class="wallAvatar img-circle" alt="avatar.png">
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <i class="fa fa-folder-open wallIcon"></i><strong> {{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</strong>
                                            </h5>
                                            <p>{{ data.creationdate|date("d/m/Y h:i") }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="wallMsgContent">
                                    <p>{% if data.wall.content is defined %} {{ data.wall.content }} {% endif %}</p>
                                </div>
                            </div>
                        </div>
                        {# CLOUD DISPLAY MESSAGE #}
                    {% elseif data.cloud != null %}
                        {% if 'image' in data.cloud.filetype or 'application/pdf' in data.cloud.filetype
                        or 'video' in data.cloud.filetype %}
                            <!--<div class="row messages index{{ loop.index0 }}">-->
                            <div class="messages index{{ loop.index0 }}">
                                <div class="wallBorder">
                                    <div class="wallTitle">
                                        <div class="row">
                                            <!--<div class="col-lg-3 col-xs-3">-->
                                            <div class="col-xs-3">
                                                <img src="{{ asset("uploads/" ~ data.circleuser.user.avatar) }}"
                                                     class="wallAvatar img-circle" alt="avatar.png">
                                            </div>
                                            <!--<div class="col-lg-offset-1 col-lg-8 col-xs-offset-1 col-xs-8">-->
                                                <div class="col-xs-9">
                                                <h5>
                                                    <i class="fa fa-folder-open wallIcon"></i><strong>{{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</strong>
                                                </h5>
                                                <p>{{ data.creationdate|date("d/m/Y h:i") }}</p>
                                            </div>

                                        </div>
                                    </div>
                                    {# Check if type of data is 'lien' and switch <p> for <a href>'> #}
                                    {% if 'image' in data.cloud.filetype %}
                                        <img src="{{ asset("uploads/" ~ data.cloud.fileName) }}" class="img-responsive itemWall"
                                             alt="{{ data.cloud.filename }}"/>
                                    {% elseif 'video' in data.cloud.filetype %}
                                        <video controls
                                               src="{{ asset("uploads/" ~ data.cloud.fileName) }}" class="itemWallVideo">
                                        </video>
                                    {% elseif 'application/pdf' in data.cloud.filetype or 'text' in data.cloud.filetype %}
                                        <iframe src="{{ asset("uploads/" ~ data.cloud.fileName) }}"
                                                class="itemWallPdf">
                                        </iframe>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                            {# AGENDA DISPLAY MESSAGE #}
                    {% elseif data.agenda != null %}
                        <!--<div class="row messages index{{ loop.index0 }}">-->
                        <div class="messages index{{ loop.index0 }}">
                            <div class="wallBorder">
                                <div class="wallTitle">
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-3">
                                            <img src="{{ asset("uploads/" ~ data.circleuser.user.avatar) }}"
                                                 class="wallAvatar img-circle" alt="avatar.png">
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <i class="fa fa-folder-open wallIcon"></i><strong>{{ data.circleuser.user.firstname }} {{ data.circleuser.user.name }}</strong>
                                            </h5>
                                            <p>{{ data.creationdate|date("d/m/Y h:i") }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="wallMsgContent">
                                    <p>
                                        <strong>Titre:</strong> {% if data.agenda.title is defined %}{{ data.agenda.title }}{% endif %}
                                    </p>
                                    <p>
                                        <strong>Evenement:</strong> {% if data.agenda.description is defined %}{{ data.agenda.description }}{% endif %}
                                    </p>
                                    <p><strong>Date de
                                            l'evenement:</strong> {% if data.agenda.eventStart is defined %}{{ data.agenda.eventStart|date("d/m/Y h:i") }}{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-offset-3 col-lg-6 col-xs-12">
                <div class="row">
                    <a href="#affichePlus">
                        <button id="affiche" class="btn-default center-block">Voir les messages plus anciens</button>
                    </a>
                    <br/>
                    <a href="#top">
                        <button title="Go to top" class="center-block btn-default"><i class="fa fa-arrow-up"></i>
                        </button>
                    </a>
                </div>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="btnCloseModal" type="button" class="fa fa-close"
                                        data-dismiss="modal"></button>
                                <h4 class="modal-title">Ecrire un Message</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                {{ form_widget(form.content,{ 'attr': {'cols': '50','rows': '5'} }) }}
                                <br/>
                                <br/>
                                <input type="submit" name="save" class="btn btn-default">
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var displayIndex = 3;
        $( ".messages" ).hide();
        $( ".index0" ).show();
        $( ".index1" ).show();
        $( ".index2" ).show();

        initWall();
        $('#myModal').on('shown.bs.modal', function () {
            $('#appbundle_wall_content').focus();
        });

        $("a[href='#top']").click(function() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

        $("a[href='#affichePlus']").click(function () {
            $( ".index"+displayIndex ).show();
            displayIndex++;
            $( ".index"+displayIndex ).show();
            displayIndex++;
            $( ".index"+displayIndex ).show();
            displayIndex++;
            initWall();
        });

        function initWall() {
            if( displayIndex >= {{ walldatas|length }} ){
                $('#affiche').hide();
            }
        }
    </script>
{% endblock %}
