{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    {{ parent() }}
    <link href="{{ asset('assets/css/frontStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}

    <header id="header">

        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container-fluid">

                <div class="navbar-header">
                    <div class="row">

                        <div class="col-xs-3 col-sm-2">
                            <a class="paddingLogoNavFront navbar-brand" href="/"><img class="logoFront" src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}"
                                 alt="logo_cercle_confiance"></a>
                        </div>

                        <div class="col-xs-7 col-sm-9 responsiveLogout">
                                {% if app.user.username is defined %}
                                <div class="blockLogout text-center">
                                    <span>
                                        <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">
                                        <strong>{{ app.user.username }}</strong>
                                    </span>
                                    <a class="btnLogout" href="/logout"><i class="fa fa-sign-out"></i></a>
                                </div>
                                {% endif %}

                        </div>

                        <div class="col-xs-2 col-sm-1 text-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                    </div>

                </div>

                <div class="collapse navbar-collapse">

                    <div id="item">

                        <ul class="nav navbar-nav">
                            {% block links %}
                            <!--<li class="scroll"><a href="/">Accueil</a></li>-->
                            <li class="scroll"><a href="{{ path('presentation') }}">A propos</a></li>
                            <li class="scroll"><a href="{{ path('services') }}">Services</a></li>
                            <li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>
                            <li class="scroll active"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>
                            {% endblock %}
                        </ul>

                    </div>

                    <div class="desktopLogout">
                    {% if app.user.username is defined %}
                        <div class="blockLogout text-center pull-left">
                            <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">
                            <strong>{{ app.user.username }}</strong>
                        </div>
                        <a class="btnLogout pull-right" href="/logout"><i class="fa fa-sign-out"></i></a>
                        {% endif %}
                    </div>

                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
{% endblock %}

{% block content %}{% endblock %}


{% block javascript %}
    {{ parent() }}
{% endblock %}
