{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    {{ parent() }}
    <link href="{{ asset('assets/css/frontStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="paddingLogoNavFront navbar-brand" href="/">
                        <img class="logoFront" src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}"
                             alt="logo_cercle_confiance"></a>
                    <div class="responsiveLogout">
                        {% if app.user.username is defined %}
                            <div class="blockLogout text-center">
                                <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">
                                {{ app.user.username }}
                                <a class="btnLogout" href="/logout"><i class="fa fa-sign-out"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="collapse navbar-collapse">
                    <div class="row">
                        <div class="col-xs-9" id="item">

                            <ul class="nav navbar-nav">
                                {% block links %}
                                    <li class="scroll"><a href="/">Accueil</a></li>
                                    <li class="scroll"><a href="{{ path('presentation') }}">Qui sommes nous ?</a></li>
                                    <li class="scroll"><a href="{{ path('services') }}"> Nos services</a></li>
                                    <li class="scroll"><a href="{{ path('pres_objets') }}">Nos objets connectés</a></li>
                                    <li class="scroll active"><a href="{{ path('accueil') }}">Accéder aux cercles</a></li>
                                {% endblock %}
                            </ul>
                        </div>
                        <div class="desktopLogout">
                        {% if app.user.username is defined %}
                            <div class="blockLogout">
                            <img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">
                                {{ app.user.username }}
                                <a class="btnLogout" href="/logout"><i class="fa fa-sign-out"></i></a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
{% endblock %}

{% block content %}{% endblock %}


{% block javascript %}
    {{ parent() }}

{% endblock %}

