{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block title %}Gérer utilisateurs du Cercle{% endblock %}

{% block content %}
    {#{{ dump() }}#}
    <section>
        <div class="container-fluid">
            <a href="/cercles">
                <input type="button" class="btn btn-default" value="Retourner aux cercles"/>
            </a>

            <a href="/cercles/{{ token }}">
                <input type="button" class="btn btn-default" value="Retourner à l'appli"/>
            </a>
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h3>Liste des utilisateurs du Cercle</h3>
            </div>

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="tdFirstname">Firstname</th>
                            <th class="tdName">Name</th>
                            <th class="tdVisio">Visio</th>
                            <th class="tdWall">Wall</th>
                            <th class="tdCloud">Cloud</th>
                            <th class="tdAgenda">Agenda</th>
                            {% for object in objects %}
                                {% if object.circleuser.adminCircle == true %}
                                    <th class="{{ object.model.reference }}">{{ object.model.reference }}</th>
                                {% endif %}
                            {% endfor %}
                            <th class="tdAction">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="tdFirstname">{{ user.user.firstname }}</td>
                                <td class="tdName">{{ user.user.name }}</td>
                                <td class="tdVisio">
                                    <input type="checkbox" disabled="disabled"
                                           {% if user.callAccess == true %}checked="checked"{% endif %}>
                                </td>
                                <td class="tdWall">
                                    <input type="checkbox" disabled="disabled"
                                           {% if user.wallAccess == true %}checked="checked"{% endif %}>
                                </td>
                                <td class="tdCloud">
                                    <input type="checkbox" disabled="disabled"
                                           {% if user.cloudAccess == true %}checked="checked"{% endif %}>
                                </td>
                                <td class="tdAgenda">
                                    <input type="checkbox" disabled="disabled"
                                           {% if user.agendaAccess == true %}checked="checked"{% endif %}>
                                </td>

                                {% for object in objects %}
                                    {% if user.id == object.circleuser.id %}
                                        <td class="{{ object.model.reference }}">
                                            <input type="checkbox" disabled="disabled"
                                                   {% if object.access == true %}checked="checked"{% endif %}>
                                        </td>
                                    {% endif %}
                                {% endfor %}

                                <td class="tdAction">
                                    <a href="{{ path('editMember', {'token': token ,'idUser': user.id }) }}" class="btn btn-warning">Edit</a>

                                    <a href="{{ path('deleteMember', {'token': token ,'idUser': user.id }) }}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if users|length < 6 %}
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 text-center">
                        <h3>Ajouter un utilisateur au cercle</h3>
                        <p>Renseigner le mail de la personne a inviter</p>
                        {{ form(form) }}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 text-center marginBottom">
                        <h3>Le nombre maximal d'utilisateur du cercle est atteint !</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
