{% extends 'FrontBundle::layoutFront.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Gérer utilisateurs du Cercle{% endblock %}

{% block content %}
    <div class="container-fluid text-center editUserBlock">
        <a href="{{ path('listMembers', {'token': token }) }}">
            <button class="btn btn-default btn-return"><i class="fa fa-arrow-left">  Back</i></button>
        </a>
        <a href="{{ path('appli', {'token': token}) }}">
            <button class="btn btn-default btn-return"><i class="fa fa-arrow-left"> Retour a l'Appli</i></button>
        </a>

        <div class="formEditUser center-block">
            {{ form_start(form) }}
            {% for widget in form.children %}
                {{ form_row(widget) }}
                <br />
            {% endfor %}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}