{% extends 'AppBundle::layoutAppli.html.twig' %}

{% block title %}Bienvenue sur le Cercle{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('accueil') }}">
                    <i class="fa fa-arrow-circle-o-left"></i> Retourner aux cercles
                </a>
            </div>
        </div>
        <div class="row text-center navAppli">
            <div class="col-xs-4">
                <a class="thumbnail navImage" href="{{ path('visio', {'token': token}) }}"
                   data-toggle="tooltip" data-placement="top" title="Visio">
                    <i class="fa fa-users"></i>
                        <p class="navImageTitle">Appel visio</p>
                </a>
            </div>
            {% if circleUser.cloudaccess == true %}
                <div class="col-xs-4">
                    <a class="thumbnail navImage" href="{{ path('cloud', {'token': token}) }}">
                        <i class="fa fa-folder-open"></i>
                        <p class="navImageTitle">Partage de fichier</p>
                    </a>
                </div>
            {% else %}
            {% endif %}
            {% if circleUser.wallaccess == true %}
                <div class="col-xs-4">
                    <a class="thumbnail navImage" href="{{ path('mur', {'token': token}) }}">
                        <i class="fa fa-comments-o"></i>
                        <p class="navImageTitle">Mur</p>
                    </a>
                </div>
            {% else %}
            {% endif %}
            {% if circleUser.agendaaccess == true %}
                <div class="col-xs-4">
                    <a class="thumbnail navImage" href="{{ path('agenda', {'token': token}) }}">
                        <i class="fa fa-calendar"></i>
                        <p class="navImageTitle">Agenda</p>
                    </a>
                </div>
            {% else %}
            {% endif %}
            <div class="col-xs-4">
                <a class="thumbnail navImage" href="{{ path('show_objects', {'token': token}) }}">
                    <i class="fa fa-bar-chart-o"></i>
                    <p class="navImageTitle">Tableau de bord</p>
                </a>
            </div>
            {% if circleUser.adminCircle == 1 %}
                <div class="col-xs-4">
                    <a class="thumbnail navImage" href="{{ path('admin', {'token': token}) }}">
                        <i class="fa fa-cogs"></i>
                        <p class="navImageTitle">Administration</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}