{% extends 'AppBundle::layoutAppli.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <a href="{{ path('appli', {'token': token}) }}" class="btn btn-default padder"><i class="fa fa-arrow-left"></i></a>

    <!--<div class="container text-center section-header">
        <div class="row marginBottom">
        <div class="col-xs-12">-->
    <div class="container">
      <div class="row text-center navAppli section-header">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h2 class="section-title">Partage de fichiers</h2>
                <!--<h4 class="cloudContent">-->
                <h4>
                Vous avez la possibilité de partager des fichiers avec les autres
                    membres de votre Cercle Confiance</h4>
            </div>
            <div class="col-xs-12">
                <img src="{{ asset("assets/images/up.png") }}" alt="upload" class="upload img-responsive">
            </div>
            {% if error is defined %}
            <h3>{{ error | raw }}</h3>
            {% else %}
            <div class="col-xs-6 col-xs-offset-3 text-center">
                {{ form(form) }}
            </div>
        </div>


        <div class="row">
            {% for CUser in CUsers %}
                {% for dataApp in CUser.dataApps|sort|reverse %}
                    {% if dataApp.cloud is not null %}
                        <div class="col-xs-12 col-sm-6 col-md-4 thumbCloud">
                            <div class="cloudBorder">
                                <div class="wallTitle">
                                    <div class="row cloudBack">
                                        <div class="col-lg-3 col-xs-3">
                                            <img src="{{ asset("uploads/" ~ dataApp.circleuser.user.avatar) }}"
                                                 class="wallAvatar img-circle" alt="avatar.png">
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <i class="fa fa-folder-open wallIcon"></i><strong> {{ dataApp.circleuser.user.firstname }} {{ dataApp.circleuser.user.name }}</strong>
                                            </h5>
                                            <p>{{ dataApp.creationdate|date("d/m/Y h:i") }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="marginCloud text-center">
                                    {% if "image" in dataApp.cloud.fileType %}
                                        <img src="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                             alt="{{ dataApp.cloud.fileName }}" class="itemCloud img-responsive"><br/>
                                        <a class="downloadFile" href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                           download="{{ dataApp.cloud.fileName }}">
                                            <p class="text-center">Télécharger le fichier</p>
                                        </a>
                                    {% elseif "video" in dataApp.cloud.fileType %}
                                        <video controls src="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                               class="itemCloud">
                                        </video><br/>
                                        <a href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                           download="{{ dataApp.cloud.fileName }}">
                                            Télécharger le fichier
                                        </a>
                                    {% elseif ("application" in dataApp.cloud.fileType) or ("text" in dataApp.cloud.fileType) %}
                                        {% if ".doc" in dataApp.cloud.fileName %}
                                            <p class="cloudDoc">Document Word</p>
                                            <a class="downloadFile" href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                               download="{{ dataApp.cloud.fileName }}">
                                                <p class="text-center">Télécharger le fichier</p>
                                            </a>
                                        {% elseif ".xls" in dataApp.cloud.fileName %}
                                            <p class="cloudDoc">Document Excel</p>
                                            <a class="downloadFile" href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                               download="{{ dataApp.cloud.fileName }}">
                                                <p class="text-center">Télécharger le fichier</p>
                                            </a>
                                        {% elseif ".pdf" in dataApp.cloud.fileName or ".txt" in dataApp.cloud.fileName %}
                                            <iframe src="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                                    class="itemCloud">
                                            </iframe><br/>
                                            <a class="downloadFile" href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                               download="{{ dataApp.cloud.fileName }}">
                                                <p class="text-center">Télécharger le fichier</p>
                                            </a>
                                        {% else %}
                                            <p class="cloudDoc">Document divers</p>
                                            <a class="downloadFile" href="{{ asset("uploads/" ~ dataApp.cloud.fileName) }}"
                                               download="{{ dataApp.cloud.fileName }}">
                                                <p class="text-center">Télécharger le fichier</p>
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/drag.js') }}"></script>
{% endblock %}
