{% extends 'FrontBundle::layoutFront.html.twig' %}
{% block links %}
    <li class="scroll"><a href="/">Accueil</a></li>
    <li class="scroll"><a href="{{ path('presentation') }}">Qui sommes nous ?</a></li>
    <li class="scroll"><a href="{{ path('services') }}"> Nos services</a></li>
    <li class="scroll"><a href="{{ path('pres_objets') }}">Nos objets connectés</a></li>
    <li class="scroll active"><a href="{{ path('accueil') }}">Accéder aux cercles</a></li>
{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid circle">

            <div class="row">
                <h1 class="circleTitle text-primary">Mes Cercles</h1>
                <h2 class="circleSub">Liste des cercles dont vous faites partie</h2>
                <div class="col-xs-3 col-md-offset-9">
                    <a class="btn-circle" href="{{ path('create') }}">Ajouter un nouveau cercle</a>
                </div>
            </div>



            <div class="row text-center">

            {% for CUser in CUsers %}
                {% if CUser.circle.active == true %}
                        <div class="col-md-4 col-md-offset-1">

                            <a href="{{ path('appli', {'token': CUser.circle.token}) }}">


                                {% for circleUser in CUser.circle.circleUsers %}
                                    {% if circleUser.circleCenter == true %}
                                        <h3>{{ CUser.circle.name }}</h3>
                                        {{ circleUser.user.name }} {{ circleUser.user.firstname }} <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}" class="img-circle img-responsive circleItem" >
                                    {% elseif circleUser.adminCircle == true %}
                                        <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}" class="img-circle img-responsive circleMember" >
                                    {% elseif circleUser.circleCenter == false %}
                                        <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}" class="img-circle img-responsive circleMember" >
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
            </div>

        </div>
        </div>

    </section>
{% endblock %}
