{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block content %}
    <section>
        <div class="container-fluid marginTop marginBottom">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <a href="/cercles/creer" class="thumbnail">

                        Ajouter un nouveau cercle
                    </a>
                </div>

                {% for CUser in CUsers %}
                    {% if CUser.circle.active == 1 %}
                        <a href="/cercles/{{ CUser.circle.id }}">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 thumbnail">
                                <h3>{{ CUser.circle.name }}</h3>
                                <p>
                                    {% for circleUser in CUser.circle.circleUsers %}
                                        {% if circleUser.circleCenter == 1 %}
                                            Centre : {{ circleUser.user.name }} {{ circleUser.user.firstname }}<br/>
                                        {% elseif circleUser.adminCircle == 1 %}
                                            Administrateur : {{ circleUser.user.name }} {{ circleUser.user.firstname }}
                                            <br/>
                                        {% else %}
                                            Membre : {{ circleUser.user.name }} {{ circleUser.user.firstname }}<br/>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}