{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block content %}
    <section class="circleHome">
        <div class="container-fluid">

        <div class="container marginTop marginBottom">
            <div class="row">
                <h1 class="circleTitle text-primary">Vos cercles</h1>
                <div class="col-xs-3 col-md-offset-9">
                    <a class="btn-circle" href="{{ path('create') }}">Ajouter un nouveau cercle</a>
                </div>
            </div>
        </div>

        <div class="container circle">
            {#<div class="row">#}
                {#<div class="col-xs-3 col-xs-offset-9">#}


                    {#<a href="{{ path('create') }}" class="thumbnail">#}

                        {#Ajouter un nouveau cercle#}
                    {#</a>#}

                {#</div>#}
            {#</div>#}
            <div class="row">



                {% for CUser in CUsers %}
                    {% if CUser.circle.active == 1 %}
                        <a href="{{ path('appli', {'token': CUser.circle.token}) }}">
                            <div class="thumbnail text-center circleItem">
                                <h3>{{ CUser.circle.name }}</h3>
                                <p>
                                    {% for circleUser in CUser.circle.circleUsers %}
                                        {% if circleUser.circleCenter == 1 %}
                                            Centre : {{ circleUser.user.name }} {{ circleUser.user.firstname }} <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}" class="circleImg" ><br/>
                                        {% elseif circleUser.adminCircle == 1 %}
                                            Administrateur : {{ circleUser.user.name }} {{ circleUser.user.firstname }} <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}" class="circleImg" >
                                            <br/>
                                        {% else %}
                                            Membre : {{ circleUser.user.name }} {{ circleUser.user.firstname }}  <img src="{{ asset("uploads/" ~ circleUser.user.avatar) }}"class="circleImg" ><br/>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

    </section>
{% endblock %}