{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <h1 class="circleTitle text-primary">Liste de vos cercles</h1>
                <a class="btn-circle" href="href="{{ path('create') }}">Ajouter un nouveau cercle</a>
            </div>
        </div>

        <div class="container-fluid circle">

            <div class="row">


                {% for CUser in CUsers %}
                    {% if CUser.circle.active == 1 %}
                        <a class="" href="{{ path('appli', {'token': CUser.circle.token}) }}">
                            <div class="circleItem">
                                <h3>{{ CUser.circle.name }}</h3>
                                <p>
                                    {% for circleUser in CUser.circle.circleUsers %}
                                        {% if circleUser.circleCenter == 1 %}
                                            Centre : {{ circleUser.user.name }} {{ circleUser.user.firstname }} <br/>
                                        {% elseif circleUser.adminCircle == 1 %}
                                            Administrateur : {{ circleUser.user.name }} {{ circleUser.user.firstname }} <img src="{{ asset("uploads/" ~ app.user.avatar) }}" width="25px">
                                            <br/>
                                        {% else %}
                                            Membre : {{ circleUser.user.name }} {{ circleUser.user.firstname }}  <br/>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}